body {
  margin: 0 auto;
  width: 65%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logout-button {
  margin: 30px;
}

.dog-form {
	width: 50%;
	margin: 0 30px 30px 30px;
}

.dog-list {
	margin: 30px;
}

.welcome {
  display: inline-block;
}

.intro {
  display: flex;
  justify-content: space-between;
}